body /*Style Applied To Body Tag*/
{
	background-color: GrayText;
}

#bt1 /*This Style Applied To The Control Which Have This Id bt1*/
{
	background-color: White;
	font-family:Times New Roman, Verdana , Courier New;
	font-size:12pt;
	font-weight:bold;
	color:Fuchsia;
}

.TBox /*This Style Applied To All The Controls Which Have This CSSClass*/
{
	font-family:Times New Roman;
	font-size:8;
	text-align:right;
}